body{
	background: #141E30;;
}

.white{
	color:white;
	text-align: center;
}


h2,h3{
	text-align: center;
	color: lightgreen;
}

.nyan_cat{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 120px;
}

a:visited {
    color: lightgreen;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}